<h2>All Historical Landmarks</h2>
<%@landmarks.each do |landmark|%>
  <h2><%=landmark.name%></h2>
  <h2><%=landmark.year_completed%></h2>
<%end%>

<!-- add content here -->

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
